= semantic_form_for settings, as: :settings, url: admin_settings_update_path  do |f|
  = f.inputs do
    = f.input :title
    = f.input :admin_email

  = f.actions do
    = f.action :submit, as: :button
